{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-4">
    <h2>Compras de Todos los Clientes</h2>
    {% for compra in compras %}
        <div class="card mb-3">
            <div class="card-header">
                <strong>Boleta N°: {{ compra.boleta.id_boleta }}</strong>
                <span class="float-right">Fecha: {{ compra.boleta.fechaCompra }}</span>
                <br>
                <strong>Cliente:</strong> {{ compra.usuario.username }} 
            </div>
            <div class="card-body">
                <strong>Producto: {{ compra.producto }}</strong>
                <br>
                <strong>Subtotal: {{ compra.subtotal }}</strong>
                <br>
                <strong>Cantidad: {{ compra.cantidad }}</strong>
            </div>
            <div class="card-footer">
                <strong>Total:</strong> ${{ compra.boleta.total }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
